@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('img/fundo.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
  
  
main{
    padding-top: 7%;
}

.logo{
    align-items: center;
    width: 40%;
    height: 40%;
}

.classLogo {
    display: flex;
    justify-content: center;
}

.botao {
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-top: 3%;
    align-items: center;
}

.ul1 {
    background: #0d2666;
    color:white;
    text-decoration: none;
    width: 20%;
    padding-bottom: 1%;
    padding-top: 1%;
    border-radius: 2vh;
    font-size: 20px;
    text-align: center;
    margin-bottom: 2%;
    font-family: 'Luckiest Guy', cursive;
}

.ul2 {
    background: #0d2666;
    color:white;
    text-decoration: none;
    width: 20%;
    padding-bottom: 1%;
    padding-top: 1%;
    border-radius: 2vh;
    font-size: 20px;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
}

/* Pág de escolhas */

.escolhas {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Luckiest Guy', cursive;
    margin-top: 5%;
    color: white;
}

.nomePokemon {
    width: 40%;
    padding: 1%;
    padding-bottom: 1%;
    border-radius: 1vh;
    background-color: #0d2666;
}

.botao_select{
    margin-top: 60vh;
}

.selecionar{
    padding: 10%;
    border-radius: 2vh;
    background-color: #0d2666;
    color: white;
    text-decoration: none;
    font-size: 3.5vh;
}

.imagemFundo {
    height: 100vw;
    width: 100vw;
}

/* COMBATE*/


#imgvs {
    width: 15%;
    height: 25%;
}

.vs {
    display: flex;
    align-items: center;
}