head {
    display: flex;
}

.logo{
    display: flex;
    align-items: center;
}

.imgLogo {
    justify-content: center;
}
.botao_inicio {
    display: flex;
    align-items: center;
}